<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kr70_r2100">
  <!-- Import urdf file  -->
  <xacro:include filename="$(find kuka_description)/urdf/kr70_r2100_macro.xacro"/>
  <!-- Read additional arguments  -->
  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="robot_name" default="kuka_arm"/>
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="gripper_name" default=""/>
  <xacro:arg name="controller_file" default="$(find kuka_gazebo)/config/kuka_controllers.yaml"/>
  <xacro:kuka_kr70_r2100_robot prefix="$(arg prefix)" robot_name="$(arg robot_name)" gripper_name="$(arg gripper_name)"/>

  <gazebo>
    <plugin
      filename="libgz_ros2_control-system.so"
      name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <ros>
          <namespace>$(arg namespace)</namespace>
        </ros>
        <parameters>$(arg controller_file)</parameters>
    </plugin>
  </gazebo>

</robot>